{
    "aws_account_id": "{{ aws_account_id }}",
    "region": "{{ region }}",
    "sns_topic_prefix": "{{ sns_topic_prefix }}",
    "aws_profile": "{{ aws_profile }}",
    "topics": {
        "sns_topic1": {
            "type": "sms",
            "sms_subscribers": [
                {% for sms in sns_topic1_sms_subscribers %}
                "{{ sms }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            "email_subscribers": [
                {% for email in sns_topic1_email_subscribers %}
                "{{ email }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        },
        "email_topic1": {
            "type": "email",
            "sms_subscribers": [
                {% for sms in email_topic1_sms_subscribers %}
                "{{ sms }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            "email_subscribers": [
                {% for email in email_topic1_email_subscribers %}
                "{{ email }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        },
        "mixed_topic1": {
            "type": "mixed",
            "sms_subscribers": [
                {% for sms in mixed_topic1_sms_subscribers %}
                "{{ sms }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            "email_subscribers": [
                {% for email in mixed_topic1_email_subscribers %}
                "{{ email }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        },
        "MySMSTopic": {
            "sms_subscribers": [
                {% for sms in mysmstopic_sms_subscribers %}
                "{{ sms }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            "email_subscribers": [
                {% for email in mysmstopic_email_subscribers %}
                "{{ email }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        },
        "MyFirstTopic": {
            "sms_subscribers": [
                {% for sms in myfirsttopic_sms_subscribers %}
                "{{ sms }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            "email_subscribers": [
                {% for email in myfirsttopic_email_subscribers %}
                "{{ email }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
    }
}

